@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";

  font-display: swap;
  src:
    url("./fonts/manrope-medium.woff2") format("woff2"),
    url("./fonts/manrope-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Orchidea";

  font-display: swap;
  src:
    url("./fonts/orchidea_pro_medium.woff2") format("woff2"),
    url("./fonts/orchidea_pro_medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("./fonts/roboto-regular.woff2") format("woff2"),
    url("./fonts/roboto-regular.woff") format("woff");
}
